<div class="fc-w-30 fc-center fc-ptop-5">
    <mat-card>
        <header class="fc-txt-center fc-ptop-2">
            <h1>Free Chat</h1>
        </header>
        <mat-card-content class="fc-ptop-2">
            <form [formGroup]="loginForm" (submit)="login()">
                <mat-form-field class="fc-w-100 fc-ptop-2">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                        Informe o email
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="fc-w-100 fc-ptop-2">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Informe a senha
                    </mat-error>
                </mat-form-field>
                <footer>
                    <div class="fc-txt-right fc-ptop-1">
                        <button mat-button [routerLink]="['/recover-password']" type="button">Esqueceu a senha?</button>
                    </div>
                    <div class="fc-w-100 fc-ptop-1">
                        <button type="submit" mat-raised-button color="primary" class="fc-w-100">Login</button>
                    </div>
                    <div class="fc-txt-left fc-ptop-1 fc-flex fc-align-items">
                        <div>
                            <span>Não tem uma conta?</span>
                        </div>
                        <div>
                            <a mat-button [routerLink]="['/user-registration']">Cadastre-se</a>
                        </div>
                    </div>
                </footer>
            </form>
        </mat-card-content>
    </mat-card>
</div>