<div class="fc-w-30 fc-center fc-ptop-5">
    <mat-card>
        <header class="fc-txt-center fc-ptop-2">
            <h1>Recuperação de senha</h1>
        </header>
        <mat-card-content class="fc-ptop-2">
            <form [formGroup]="recoverPasswordForm" (submit)="sendLinktoEmail()">
                <mat-form-field class="fc-w-100 fc-ptop-2">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('required')">
                        Informe o seu email
                    </mat-error>
                    <mat-error *ngIf="recoverPasswordForm.controls['email'].hasError('pattern')">
                        Email inválido
                    </mat-error>
                </mat-form-field>
                <footer class="fc-txt-right fc-ptop-2">
                    <button type="submit" mat-raised-button color="primary" class="fc-mright-1">Receber link</button>
                    <button type="button" mat-button [routerLink]="['/login']">Cancelar</button>
                </footer>
            </form>
        </mat-card-content>
    </mat-card>
</div>